body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
  }
  .sidebar {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 408px;
    height: auto;
    overflow-y:scroll;
    max-height: 100%;
  }
  /* make a class called click-menu that is 400px wide that is off to the right side and moves into frame when show is added */
  .click-menu {
    position: fixed;
    top: 10%;
    right: -400px;
    width: 400px;
    max-height: 90%;
    background-color: #F8F9FA;
    z-index: 1;
    transition: 0.5s;
    overflow-y:scroll;
  }
  /* make a class that is a button with a right facing triangle */
  .show {
    right: 0;
  }
 
  .map {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .crop-profile {
    font-family: 'Inconsolata', Courier, monospace;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.3em;
    color: rgb(72, 72, 72);
    margin: 0px !important;
    height: auto;
  }
  /* font-family: 'B612 Mono', monospace;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Kanit', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Major Mono Display', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu Mono', monospace; */