@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

:root {
  --black: #17191b;
  --black-90: rgba(25, 27, 30, 0.9);
  --black-80: rgba(25, 27, 30, 0.8);
  --black-70: rgba(25, 27, 30, 0.7);
  --white: #e1dcd5;
  --white-hover: #a8a39c;
  --white-80: rgba(225, 220, 213, 0.8);
  --gray: #7e899c;
  --dark-gray: #3e3d45;
  --dark-gray-hover: #34323f;
  --ui-blue: #8ca4cb;
  --ui-blue-hover: #6982ad;
  --ui-blue-80: rgba(140, 164, 203, 0.8);
  --ui-blue-light-bg: #5473a5;
  --font-family-header: PPeiko-heavy;
  --font-family-h2: PPeiko-medium;
  --font-family-h3: PPeiko-thin;
  --font-family-body: 'Work Sans';
  --shadow: 0px 0px 20px 0px rgba(255, 254, 254, 0.1);

  --doc-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--white);
  background: var(--black);
  line-height: 1.6;
  font-size: 16px;
  font-family: var(--font-family-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: PPEiko-thin;
  src: url('./fonts/pp-eiko/PPEiko-Thin.otf');
}

@font-face {
  font-family: PPEiko-medium;
  src: url('./fonts/pp-eiko/PPEiko-Medium.otf');
}

@font-face {
  font-family: PPEiko-heavy;
  src: url('./fonts/pp-eiko/PPEiko-Heavy.otf');
}

@font-face {
  font-family: PPEiko-light-italic;
  src: url('./fonts/pp-eiko/PPEiko-LightItalic.otf');
}

@font-face {
  font-family: PPEiko-black-italic;
  src: url('./fonts/pp-eiko/PPEiko-BlackItalic.otf');
}
