@import './base.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

#app {
  margin: 0 auto;

  --black: #272727;
  --white: #E1DCD5;
  --dark-gray: #17191B;

  --page-horizontal-margin: 5rem;
}
